In [1]:
import pandas as pd
import numpy as np

In [2]:
weather = pd.read_csv("jena_climate_2009_2016.csv", parse_dates=["Date Time"])

In [3]:
print("preview")
print(weather.head(2))
print("="*70)


print(weather.info())

preview
             Date Time  p (mbar)  T (degC)  Tpot (K)  Tdew (degC)  rh (%)  \
0  01.01.2009 00:10:00    996.52     -8.02    265.40        -8.90    93.3
1  01.01.2009 00:20:00    996.57     -8.41    265.01        -9.28    93.4

   VPmax (mbar)  VPact (mbar)  VPdef (mbar)  sh (g/kg)  H2OC (mmol/mol)  \
0          3.33          3.11          0.22       1.94             3.12
1          3.23          3.02          0.21       1.89             3.03

   rho (g/m**3)  wv (m/s)  max. wv (m/s)  wd (deg)
0       1307.75      1.03           1.75     152.3
1       1309.80      0.72           1.50     136.1
======================================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 420551 entries, 0 to 420550
Data columns (total 15 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Date Time        420551 non-null  object
 1   p (mbar)         420551 non-null  float64
 2   T (degC)         420551 non-null  float64
 3   Tpot (K)         420551 non-null  float64
 4   Tdew (degC)      420551 non-null  float64
 5   rh (%)           420551 non-null  float64
 6   VPmax (mbar)     420551 non-null  float64
 7   VPact (mbar)     420551 non-null  float64
 8   VPdef (mbar)     420551 non-null  float64
 9   sh (g/kg)        420551 non-null  float64
 10  H2OC (mmol/mol)  420551 non-null  float64
 11  rho (g/m**3)     420551 non-null  float64
 12  wv (m/s)         420551 non-null  float64
 13  max. wv (m/s)    420551 non-null  float64
 14  wd (deg)         420551 non-null  float64
dtypes: float64(14), object(1)
memory usage: 48.1+ MB
None

In [4]:
weather["Date Time"] = weather["Date Time"].str.replace(".", "-")
weather["Date Time"] = pd.to_datetime(weather["Date Time"], format='%d-%m-%Y %H:%M:%S')

In [5]:
for c in weather.columns:
    if str(weather[c].dtype) == "float64":
        weather[c] = weather[c].astype(np.float16)

weather['Date Time'] = weather["Date Time"].astype('datetime64[s]')

In [6]:
weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 420551 entries, 0 to 420550
Data columns (total 15 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Date Time        420551 non-null  datetime64[s]
 1   p (mbar)         420551 non-null  float16
 2   T (degC)         420551 non-null  float16
 3   Tpot (K)         420551 non-null  float16
 4   Tdew (degC)      420551 non-null  float16
 5   rh (%)           420551 non-null  float16
 6   VPmax (mbar)     420551 non-null  float16
 7   VPact (mbar)     420551 non-null  float16
 8   VPdef (mbar)     420551 non-null  float16
 9   sh (g/kg)        420551 non-null  float16
 10  H2OC (mmol/mol)  420551 non-null  float16
 11  rho (g/m**3)     420551 non-null  float16
 12  wv (m/s)         420551 non-null  float16
 13  max. wv (m/s)    420551 non-null  float16
 14  wd (deg)         420551 non-null  float16
dtypes: datetime64[s](1), float16(14)
memory usage: 14.4 MB

In [7]:
weather.columns

Index(['Date Time', 'p (mbar)', 'T (degC)', 'Tpot (K)', 'Tdew (degC)',
       'rh (%)', 'VPmax (mbar)', 'VPact (mbar)', 'VPdef (mbar)', 'sh (g/kg)',
       'H2OC (mmol/mol)', 'rho (g/m**3)', 'wv (m/s)', 'max. wv (m/s)',
       'wd (deg)'],
      dtype='object')

In [11]:
columns_map = {
    'Date Time': 'datetime',
    'p (mbar)': 'pressure (mbar)',
    'T (degC)': 'temperature (celsius)',
    'Tpot (K)': 'potential_temperature (kelvin)',
    'Tdew (degC)': 'dew_point (celsius)',
    'rh (%)': 'relative_humidity (%)',
    'VPmax (mbar)': 'max_vapor_pressure (mbar)',
    'VPact (mbar)': 'actual_vapor_pressure (mbar)',
    'VPdef (mbar)': 'vapor_pressure_deficit (mbar)',
    'sh (g/kg)': 'specific_humidity (g/kg)',
    'H2OC (mmol/mol)': 'water_concentration (mmol/mol)',
    'rho (g/m**3)': 'air_density (g/m**3)',
    'wv (m/s)': 'wind_speed (m/s)',
    'max. wv (m/s)': 'max_wind_speed (m/s)',
    'wd (deg)': 'wind_direction (degrees)'
}

# Update column names
weather.rename(columns=columns_map, inplace=True)

In [12]:
weather.head()

C:\Users\DELL\Desktop\Docs\DataCamp\work\venv\Lib\site-packages\pandas\io\formats\format.py:1458: RuntimeWarning: overflow encountered in cast
  has_large_values = (abs_vals > 1e6).any()

,datetime,pressure (mbar),temperature (celsius),potential_temperature (kelvin),dew_point (celsius),relative_humidity (%),max_vapor_pressure (mbar),actual_vapor_pressure (mbar),vapor_pressure_deficit (mbar),specific_humidity (g/kg),water_concentration (mmol/mol),air_density (g/m**3),wind_speed (m/s),max_wind_speed (m/s),wind_direction (degrees)
0,2009-01-01 00:10:00,996.5,-8.023438,265.50,-8.898438,93.3125,3.330078,3.109375,0.219971,1.940430,3.119141,1308.0,1.030273,1.750000,152.250
1,2009-01-01 00:20:00,996.5,-8.406250,265.00,-9.281250,93.3750,3.230469,3.019531,0.209961,1.889648,3.029297,1310.0,0.720215,1.500000,136.125
2,2009-01-01 00:30:00,996.5,-8.507812,265.00,-9.312500,93.8750,3.210938,3.009766,0.199951,1.879883,3.019531,1310.0,0.189941,0.629883,171.625
3,2009-01-01 00:40:00,996.5,-8.312500,265.00,-9.070312,94.1875,3.259766,3.070312,0.189941,1.919922,3.080078,1309.0,0.340088,0.500000,198.000
4,2009-01-01 00:50:00,996.5,-8.273438,265.25,-9.039062,94.1250,3.269531,3.080078,0.189941,1.919922,3.089844,1309.0,0.320068,0.629883,214.250

In [13]:
weather.loc[weather.sample(frac=0.05).index, 'temperature (celsius)'] = np.nan
weather.loc[weather.sample(frac=0.07).index, 'specific_humidity (g/kg)'] = np.nan
weather.loc[weather.sample(frac=0.11).index, 'wind_speed (m/s)'] = np.nan

In [14]:
for d in [70, 80, 90, 100, 110]:
    random_indices = weather.sample(frac=0.01).index
    weather.loc[random_indices, 'temperature (celsius)'] = d

In [15]:
# Duplicate some rows
duplicates = weather.sample(frac=0.07)
weather = pd.concat([weather, duplicates])

In [16]:
weather = weather.sample(frac=1)

In [18]:
weather.to_csv("jena_climat_dataset_2009_2017.csv")

In [17]:
weather.info()

<class 'pandas.core.frame.DataFrame'>
Index: 449990 entries, 244826 to 47574
Data columns (total 15 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   datetime                        449990 non-null  datetime64[s]
 1   pressure (mbar)                 449990 non-null  float16
 2   temperature (celsius)           428640 non-null  float16
 3   potential_temperature (kelvin)  449990 non-null  float16
 4   dew_point (celsius)             449990 non-null  float16
 5   relative_humidity (%)           449990 non-null  float16
 6   max_vapor_pressure (mbar)       449990 non-null  float16
 7   actual_vapor_pressure (mbar)    449990 non-null  float16
 8   vapor_pressure_deficit (mbar)   449990 non-null  float16
 9   specific_humidity (g/kg)        418524 non-null  float16
 10  water_concentration (mmol/mol)  449990 non-null  float16
 11  air_density (g/m**3)            449990 non-null  float16
 12  wind_speed (m/s)                400422 non-null  float16
 13  max_wind_speed (m/s)            449990 non-null  float16
 14  wind_direction (degrees)        449990 non-null  float16
dtypes: datetime64[s](1), float16(14)
memory usage: 18.9 MB